$text-color: #333;
$higlight-color: rgb(190, 0, 0);
$logo-color: #333;

.c-home {
  font-family: "Open Sans", sans-serif;

  &-header {
    height: 98vh;
    display: flex;
    align-items: top;
    justify-content: center;
    margin: 0 auto 8rem;
    background: #fff url(../../../static/bg.jpg);
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;

    &:before {
      content: " ";
      position: absolute;
      bottom: -1rem;
      width: 100%;
      height: 2rem;
      background: #fff;
      transform: skewy(-1deg);
      box-shadow: rgba(#333, 0.1) 0 -20px 20px;
    }

    @media screen and (max-width: 800px) {
      margin-bottom: 4rem;
    }

    h1 {
      font-weight: 600;
      color: $logo-color;
      font-size: 2.8rem;
      margin-bottom: 1rem;
      position: relative;
      padding-top: 6rem;
    }

    h2 {
      font-size: 3.5rem;
      font-weight: 300;
      color: lighten($logo-color, 20);
    }

    h3 {
      font-size: 1.6rem;
      font-weight: 300;
      color: lighten($logo-color, 30);
      margin: 0 0 3rem;
    }
  }

  &-main {
    width: calc(100% - 30px);
    max-width: 800px;
    margin-left: 15px;
    margin-right: 15px;
  }

  &-logo {
    display: inline-block;
    transition: transform 0.2s ease-in;
    position: relative;
    width: 45px;
    height: 45px;
    position: relative;
    left: -10px;
    top: -4px;
    margin-left: -45px;
    display: none;

    img {
      position: relative;
      z-index: 2;
      width: 100%;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 700px) {
    h1 {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-logo {
      width: 35px;
      height: 35px;
      margin: 0;
      top: auto;
      left: auto;
    }

    .btn-hello {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    text-align: center;
    h1 {
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;
      padding-top: 2rem;
    }
    h2 {
      font-size: 1.8rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
}
