<!DOCTYPE html>
<html lang="en-US" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="software, development, dev shop, consulting, node, ios, android, java, javascript">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Elwood Technology | Software Development &amp; Consulting">
    <meta property="og:description" content="Santa Monica, California Software Development &amp; Consulting">
    <meta property="og:type" content="website">
    <title>Elwood Technology | Software Development &amp; Consulting | hello@elwood.technology | Santa Monica, California</title>
  	<link rel="apple-touch-icon" href="/icon.png">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "url": "https://elwood.technology",
        "name": "Elwood Technology, LLC | Software Development &amp; Consulting",
        "logo": "https://elwood.technology/icon.png",
        "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+1-419-862-5845",
          "email": "hello@elwood.technology",
          "contactType": "customer service"
        },
        "sameAs": [
          "https://plus.google.com/u/1/b/117172292821813006162/117172292821813006162",
          "https://github.com/elwoodtechnology",
          "https://twitter.com/hello_elwood",
          "https://www.facebook.com/elwood.technology",
          "https://angel.co/elwood-technology",
          "https://www.linkedin.com/company/elwood-technology/",
          "https://www.instagram.com/hello_elwood/"
        ]
      }
    </script>
  </head>
  <body>
    <div id="root">
      <%= htmlWebpackPlugin.options.renderHTML() %>
    </div>
    <script>window.onload = function() { ElwoodsPizza.render(document.getElementById('root')); } </script>
    <%= htmlWebpackPlugin.options.endHTML() %>
  </body>
</html>
