@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

$text-color: #333;
$higlight-color: rgb(190, 0, 0);
$logo-color: #222;

html, body {
  background: #fff;
}

.app {
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

a {
  transition: color .3s ease-in;
  outline: none !important;

  &:hover {
    text-decoration: none;
    color: $higlight-color;
  }
}

a.btn:hover {
  color: $higlight-color;
}

.container {
  max-width: 700px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(0deg, #fff 50%, #f9f9f9);

  section:first-child {
    max-width: 500px;
    flex-grow: 1;
    position: relative;
    z-index: 1;

    a {
      display: inline-flex;
      align-items: center;
      background: #f3f3f3;
      margin-top: 2rem;
      color: #999;
      font-size: .9rem;

      svg {
        margin-right: .5rem;
      }

      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }

  section:last-child {
    z-index: 0;
    transition: transform .3s ease-in;

    div {
      border-radius: 100%;
      padding: 2rem;
      box-shadow: rgba(150, 150, 150, .1) 0 0 400px 100px;
      background: rgba(150, 150, 150, .1);
    }
    span {
      display: inline-block;
    }
  }

  &:hover section:last-child {
    transform: scale(1.2);
  }
}

h1 {
  font-weight: 600;
  color: $logo-color;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.3rem;
  color: lighten($logo-color, 30);
  margin: 0;
}

.talk {
  position: relative;
  display: flex;
  justify-content: center;

  div {
    border-radius: 2px;
    transition: box-shadow .3s ease-in;
    max-width: 700px;
    z-index: 1;
    position: relative;
    background: #fff;
    padding: 2.5% 5%;
    box-shadow: rgba(0, 0, 0, .1) 0 0 20px;
    margin-top: 0%;
    text-align: center;

    &:hover {
      box-shadow: rgba(0, 0, 0, .2) 0 0 40px;
    }
  }

  h3 {
    font-weight: 300;
    font-size: 1.6rem;
  }

  h4 {
    font-size: .8rem;
    color: #666;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    padding-top: 1rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    border-top: solid 1px #eee;

    li {
      flex: 1 50%;
      padding-bottom: .5rem;
    }
  }

  h3, h4, ul {
    text-align: left;
  }

  .btn {
    border: solid 1px #eee;
    color: #333;
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: .5rem;
    }
  }

  &:before {
    content: '';
    z-index: 0;
    width: 100%;
    height: 80%;
    background: #f0f0f0;
    opacity: .5;
    position: absolute;
    top: 10%;
    left: 0;
    transform: skewy(-1deg);
  }
}

footer {
  margin-top: 10rem;
  text-align: center;
  color: #999;
  font-size: .8rem;
  padding-bottom: 1rem;

  ul {
    margin: 0;
  }

  a {
    display: inline-block;
    color: #999;
    font-size: 1.2rem;
    margin: 0 .25rem;
  }
}

@media screen and (max-width: 700px) {
  main {
    flex-flow: column nowrap;

    section {
      width: 100%;
      max-width: 100%;
      text-align: center;
    }

    section:first-child {
      order: 2;
      flex-grow: 2;
    }

    section:last-child {
      order: 1;
    }
  }

  .talk {
    div {
      box-shadow: none;
      background: transparent;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    ul li {
      flex: 1 100%;
    }

    &:before {
      top: -10%;
      height: 120%;
      transform: skewy(-5deg);
    }
  }
}
